.board-block__inner{
  margin: 0 auto;
  width: 400px;
}

.board-game {
  width: 100%;
  display: block;
  padding: 15px;
  background: #bbada0;
  text-align: center;
  border-radius: 4px;
  margin: 15px auto 0;
  position: relative;
  touch-action: none;
}

.row-block {
  display: flex;
  margin-bottom: 15px;
  height: 25%;
}

.row-block:nth-child(4) {
  margin-bottom: 0;
}

@media(max-width: 600px) {
  .board-block__inner {
    width: 305px;
  }
}
